[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-pandoc"]
	path = .vim/bundle/vim-pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
