[submodule "neco-ghc"]
	path = neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "tagbar"]
	path = tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim-pandoc"]
	path = vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
