[submodule ".fonts/ctrld"]
	path = .fonts/ctrld
	url = git://github.com/bjin/ctrld-font.git
[submodule ".urxvt/urxvt-font-size"]
	path = .urxvt/urxvt-font-size
	url = git://github.com/majutsushi/urxvt-font-size.git
[submodule ".zsh/oh-my-zsh"]
	path = .zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".vim/bundle/vim-unbundle"]
	path = .vim/bundle/vim-unbundle
	url = git://github.com/sunaku/vim-unbundle.git
[submodule ".vim/bundle/colors-railscasts"]
	path = .vim/bundle/colors-railscasts
	url = git://github.com/jpo/vim-railscasts-theme.git
[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/colors-badwolf"]
	path = .vim/bundle/colors-badwolf
	url = git://github.com/sjl/badwolf.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
